@page "/inquiries/details"
@using Microsoft.EntityFrameworkCore
@using Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Inquiry</h2>
    <hr />
    @if (inquiry is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Question</dt>
            <dd class="col-sm-10">@inquiry.Question</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@inquiry.CustomerId</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@inquiry.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@inquiry.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@inquiry.UpdatedBy</dd>
        </dl>
        <div>
          <!--  <a href="@($"/inquiries/edit?id={inquiry.Id}")">Edit</a> | -->
            <a href="@($"/inquiries")">Back to List</a>
        </div>
    }
</div>

@code {
    private Inquiry? inquiry;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        inquiry = await context.Inquiry.FirstOrDefaultAsync(m => m.Id == Id);

        if (inquiry is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
