@page "/donations/details"
@using Microsoft.EntityFrameworkCore
@using PetAdoption_Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Donation</h2>
    <hr />
    @if (donation is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateOut</dt>
            <dd class="col-sm-10">@donation.DateOut</dd>
            <dt class="col-sm-2">DateIn</dt>
            <dd class="col-sm-10">@donation.DateIn</dd>
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@donation.Amount</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@donation.CustomerId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@donation.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@donation.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@donation.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@donation.UpdatedBy</dd>
        </dl>
        <div>
           <!-- <a href="@($"/donations/edit?id={donation.Id}")">Edit</a> | -->
            <a href="@($"/donations")">Back to List</a>
        </div>
    }
</div>

@code {
    private Donation? donation;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        donation = await context.Donation.FirstOrDefaultAsync(m => m.Id == Id);

        if (donation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
