@page "/ages/delete"
@using Microsoft.EntityFrameworkCore
@using PetAdoption_Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Age</h2>
    <hr />
    @if (age is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">age</dt>
            <dd class="col-sm-10">@age.age</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@age.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@age.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@age.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@age.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="age" OnValidSubmit="DeleteAge" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(age is null)">Delete</button> |
            <a href="/ages">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Age? age;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        age = await context.Age.FirstOrDefaultAsync(m => m.Id == Id);

        if (age is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteAge()
    {
        using var context = DbFactory.CreateDbContext();
        context.Age.Remove(age!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/ages");
    }
}
