@page "/ages/details"
@using Microsoft.EntityFrameworkCore
@using PetAdoption_Project.Domain
@inject IDbContextFactory<PetAdoption_Project.Data.PetAdoption_ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Age</h2>
    <hr />
    @if (age is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">age</dt>
            <dd class="col-sm-10">@age.age</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@age.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@age.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@age.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@age.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/ages/edit?id={age.Id}")">Edit</a> |
            <a href="@($"/ages")">Back to List</a>
        </div>
    }
</div>

@code {
    private Age? age;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        age = await context.Age.FirstOrDefaultAsync(m => m.Id == Id);

        if (age is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
